build --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
test --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain

build --define CLANG=true
test --define CLANG=true

# Debugging information makes the distributable 10x the size.
build:pi --copt -g0
test:pi --copt -g0

# Sadly, Eigen/C++ still hasn't figured out how to reliably get
# alignment correct.  Lets just disable it for now.
build --copt -DEIGEN_DONT_ALIGN_STATICALLY
test --copt -DEIGEN_DONT_ALIGN_STATICALLY

build:pi --cpu=armeabihf
test:pi --cpu=armeabihf

build:pi --define COM_GITHUB_MJBOTS_RASPBERRYPI=1
test:pi --define COM_GITHUB_MJBOTS_RASPBERRYPI=1

build --strip=never
test --strip=never

build --compiler=clang
test --compiler=clang

build -c opt
test -c opt

test --test_output=errors
